@model ProyectoPractica.AppMVCCore.Models.Resena

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Resena</h4>
<hr />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           
            <div class="form-group col-4">
                <label asp-for="LibroId" class="control-label"></label>
                <select asp-for="LibroId" class="form-control" asp-items="ViewBag.LibroId"></select>
                <span asp-validation-for="LibroId" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Calificacion" class="control-label"></label>
                <input asp-for="Calificacion" class="form-control" />
                <span asp-validation-for="Calificacion" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="FechaPublicacion" class="control-label"></label>
                <input asp-for="FechaPublicacion" class="form-control" />
                <span asp-validation-for="FechaPublicacion" class="text-danger"></span>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <div class="form-group col-md-9">
                        <input type="submit" value="Editar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-success">Regresar</a>
                    </div>
                </div>
        </form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
